<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body onload="init()">
<div class="center" >
    <input placeholder="rs121021" id="search">
    <label id="labela">{{data}}</label>
    <button id="dugme" onclick="ispis()" >dugme</button>
</div>
<p>{{data}}</p>
</body>
</html>