<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='script.js') }}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body onload="init()">
<div class="center" >
    <input class="input-group mb-3" placeholder="rs367896724" id="search">
    <br>
    <table class="table" id="gene_table">
        <thead>
            <tr>
                <th>CHROM</th>
                <th>POS</th>
                <th>ID</th>
                <th>REF</th>
                <th>ALT</th>
                <th>FORMAT</th>
                <th>SAMPLE1</th>
                <th>SAMPLE2</th>
            </tr>
        </thead>
        <tbody id="table_body">
        </tbody>
    </table>
</div>
<p>{{data}}</p>
</body>
</html>